<%= simple_form_for(pic) do |f| %>
  <% if pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.input :title, class:"form-control" %>

    <%= f.input :image %>



    <%= f.submit class:"btn btn-default" %>

<% end %>
