<div class="report-form">
    <hr class="featurette-divider">

    <p id="notice"><%= notice %></p>
    <div class="text-center">
        <h3>Some new feature will added in this app please check it again!
        </h3>
        <h4>You can Share your photo directly with our app
        </h4>
        <%= link_to "Upload Picture", new_pic_path, class: "btn btn-default"  %>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <% @pics.each do |pic| %>
            <% if pic.image.present? %>
            <div class="col-sm-4 col-md-3 col-xs-6">
                <div class="thumbnail">
                    <a href="pics/<%= pic.id%>" class="thumbnail">
                        <%= image_tag pic.image.url(:large) %>
                    </a>
                    <div class="caption">
                        <%= pic.title %>
                    </div>
                </div>
            </div>

        <% else  %>
            <div class="col-sm-4 col-md-3 col-xs-6">
                <div class="thumbnail">
                    <a href="pics/<%= pic.id%>" class="thumbnail">
                        <img src="http://s6.picofile.com/file/8253079842/behzad1.jpg">
                    </a>
                    <div class="caption">
                        <%= pic.title %>
                    </div>
                </div>
            </div>
            <% end %>

            <% end %>
        </div>

        <div class="col-md-4">
            <div class="fb-page" data-href="https://www.facebook.com/theenlighteningmovement/?__mref=message_bubble" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/theenlighteningmovement/?__mref=message_bubble" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/theenlighteningmovement/?__mref=message_bubble">‎Light Arise</a>
                </blockquote>
            </div>
        </div>
    </div>

    <div><%= paginate @pics %></div>
</div>
