
<hr class="featurette-divider">

<p id="notice"><%= notice %></p>

<h1>Pics</h1>
<div class="row">
    <% @pics.each do |pic| %>
          <div class="col-sm-4 col-md-2">
            <div class="thumbnail">
               <a href="pics/<%= pic.id%>" class="thumbnail">
                <%= image_tag pic.image.url(:large) %>
              </a>
              <div class="caption">
                <p><%= pic.title %></p>
                <!-- <p>...</p> -->
                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a>
                  <a href="#" class="btn btn-default" role="button">Button</a></p> -->
              </div>
            </div>
          </div>
          <!-- <td><%= link_to 'Show', pic %></td>
        <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
        <td><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

    <% end %>

  </div>
  <div><%= paginate @pics %></div>
