<p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-xs-6 col-md-4">   <strong>Title:</strong> <%= @pic.title %></div>
    <div class="col-xs-12 col-md-8"><% if @pic.image.present? %>
    <strong>Image:</strong>
    <%= image_tag @pic.image.url(:large), class:"img-responsive img-rounded" %>
    <% end %></div>
  </div>
  <form action="<%= @pic.image.url(:large) %>">
    <input class="btn btn-default btn-lg"type="submit" value="Go to Google" />
</form>
<%# link_to 'Edit', edit_pic_path(@pic) %> 
<%= link_to 'Back', pics_path %>
