<!DOCTYPE html>
<html>
  <head>
    <title>Jonbesh new </title>
    <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    <meta property="og:url"           content="<%= @pic.title %> "/>
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="هستیم بر عهدی که بستیم " />
  	<meta property="og:description"   content="اولین اپ رسمی برای جنبش روشنایی لطفا برای حمایت از جنبش روشنایی اطلاع رسانی کنید" />
  	<meta property="og:image"         content="<%= @pic.image.url(:fa)%>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> -->

  <div class="navbar-wrapper">
     <div class="container">


       <nav class="navbar navbar-inverse navbar-static-top">
         <div class="container">


           <div class="navbar-header navbar-right">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand navbar-right" href="/">جنبش روشنایی</a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right navbar-center">
               <li class="active"><%= link_to "خانه", root_path %></li>
               <li><%= link_to "آپلود عکس", new_pic_path %></li>
               <li><%= link_to "کزارشات", reports_path %></li>
               <li><%= link_to "ثبت گزارش جدید", new_report_path %></li>
               <!-- <li><a href="#contact">Contact</a></li> -->
               <!-- <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="#">Action</a></li>
                   <li><a href="#">Another action</a></li>
                   <li><a href="#">Something else here</a></li>
                   <li role="separator" class="divider"></li>
                   <li class="dropdown-header">Nav header</li>
                   <li><a href="#">Separated link</a></li>
                   <li><a href="#">One more separated link</a></li>
                 </ul>
               </li> -->
             </ul>
           </div>
         </div>
       </nav>


     </div>
   </div>





<div class="container padd-t">

  <div class="container">
      <div class="text-center">
          <%  if user_signed_in? %>
          <%= image_tag current_user.awatar %>
          <%= current_user.full_name %>
          <%= link_to "logout", sessions_path, method: :delete, class: "btn btn-default btn-sm",
                              data: {confirm: "are you sure you want to log out?"}%>
      <% else %>

          <!-- <%# link_to 'sign up', new_user_path%>

          <%# link_to 'Sign In', new_session_path %> -->

          <%= link_to "sign in with twitter", sign_in_with_twitter_path, class: "btn btn-default btn-sm"%>
          |
          <%= link_to "sing in with facebook", sign_in_with_facebook_path, class: "btn btn-default btn-sm" %>
          <% end %>
      </div>
      <%= yield %>
  </div>


    <footer class="foot">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70629332-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
